
:root {
  --orange: #ff5416;
}

html {
  box-sizing: border-box;
  background-color: black;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Questrial', arial, Helvetica, sans-serif;
  margin: 0;
}

#map {
  height: calc(100vh - 86px);  
  width: 100%;
  margin: 0;
  padding: 0;
}

header, .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  flex-wrap: wrap;
  padding: 10px;
}

h1 {
  display: flex;
  margin: 0;
  font-weight: normal;
  color: var(--orange);
}

.title {
  font-size: 28px;
  line-height: 30px;
  display: inline-block;
}

.logo {
  display: inline-block;
  width: 100px;
  height: 30px;
  margin-right: 5px;
  color: transparent;
  background: url(logo.svg) no-repeat left;
}

.intro {
  height: calc(100vh - 100px);
  padding: 40px;
  font-size: 1.2em;
  background-color: white;
}

h2 {
  font-weight: normal;
  font-size: 1em;
  color: white;
}

#channel {
  display: flex;
}

.label {
  display: none;
}

.input {
  height: 40px;
  max-width: 200px;
  font-size: 1em;
  margin-right: 20px;
  padding: 0px 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.2), inset 0 -1px 0px rgba(0,0,0,0.02)
}

.historyContainer .item {
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
  margin-top: 10px;
  padding: 20px;
}  

.animation {
  display: none;
}
  
.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  height: 40px;
  border-radius: 20px;
  background-color: white;
}

.switch-text {
  display: block;
  margin: 0 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
  transition: all .4s ease-in-out;
  color: black;
}

.switch input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.switch::before {
  content: "";
  position: absolute;
  left: 1px;
  width: 60px;
  height: 38px;
  border-radius: 34px;
  transition: .4s;
  background: var(--orange);
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.off {
  color: white;
}

[data-checked="true"]::before {
  left: calc(100% - 81px);
  right: 1px;
  width: 80px;
}

[data-checked="true"] .off {
  color: black;
}

[data-checked="true"] .on {
  color: white;
}

p {
  max-width: 960px;
  line-height: 1.6em;
}

.link {
  display: block;
  max-width: 960px;
  margin: 2em 0;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  color: #F9A01B;
}

.link:hover {
  color: #ED760A;
}

.marker-mapbox {
  width: 30px;
  height: 26px;
  background: no-repeat center;
  background-size: 100%;
  background-image: url("./driverN.png");
}

.marker-mapbox[compass-direction="N"] {
  background-image: url("./driverN.png");
}

.marker-mapbox[compass-direction="S"] {
  background-image: url("./driverS.png");
}

.marker-mapbox[compass-direction="E"] {
  background-image: url("./driverE.png");
}

.marker-mapbox[compass-direction="W"] {
  background-image: url("./driverW.png");
}

.marker-mapbox[compass-direction="NE"] {
  background-image: url("./driverNE.png");
}

.marker-mapbox[compass-direction="SE"] {
  background-image: url("./driverSE.png");
}

.marker-mapbox[compass-direction="SW"] {
  background-image: url("./driverSW.png");
}

.marker-mapbox[compass-direction="NW"] {
  background-image: url("./driverNW.png");
}

.mapboxgl-map {
  background-color: white;
}

/* mobile styles */
@media (max-width: 800px) {
  #map {
    height: calc(100vh - 50px);
  }
  .subscribers {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    background-color: black;
    z-index: 1;
  }
  .title {
    font-size: 17px;
    line-height: 15px;
    display: inline-block;
    text-align: center;
  }
  h2 {
    margin: 0;
  }
  header {
    flex-wrap: nowrap;
    gap: 20px;
  }
  #channel {
    max-width: 50%;
  }
  .controls {
    position: absolute;
    bottom: 10px;
    right: 50%;
    z-index: 1;
    transform: translate(50%, 0%);
  }
  h2 {
    font-weight: normal;
    font-size: 0.8em;
  }
  .input {
    max-width: 170px;
    margin: 0;
  }
  a.mapboxgl-ctrl-logo {
    margin: 0px 0 5px -5px!important;
  }
  .mapboxgl-ctrl-bottom-right>.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
    bottom: 5px!important;
    right: -4px!important;
  }
}
