<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Map demo</title>

  <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
  <script src="/main.js"></script>
  <script src='https://unpkg.com/@turf/turf@5.1.6/turf.min.js'></script>
  <script src="/Google/script.js" type="module"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <body>
    <header>
      <h1>
        <a href="http://ably.com/" class="logo">Ably</a>
        <span class="title">Asset Tracking</span>
      </h1>
      <div id="channel">
        <label for="channelID" class="label">Tracking ID:</label>
        <input type="text" name="channelID" id="channelID" placeholder="Enter a Channel ID" class="input">
        <h2 class="subscribers" id="subscriberCount"></h2>
      </div>
      <div class="controls">
        <img src="/settings_white_36dp.svg" id="settings-icon" />
      </div>
    </header>
    <div id="map"></div>
    <div id="overlay">
      <div id="settings-container">
        <h1 id="settings-title">Settings</h1>
        <br />
        <span class="settings-label">Animation:</span>
        <label class="switch">
          <input type="checkbox" id="animation" checked="true">
          <span class="switch-text off">Snap</span>
          <span class="switch-text on">Smooth</span>
        </label>
        <span class="settings-label">Render skipped locations:</span>
        <input type="radio" name="render-skipped" value="on">
        <label>On</label>
        <input type="radio" name="render-skipped" value="off" checked>
        <label>Off</label>
        <div id="skipped-location-settings">
          <span class="settings-label">Skipped location interval:</span>
          <input type="number" id="skipped-location-interval-input" value="500">
          <img src="/info_white_18dp.svg" title="The interval in milliseconds over which to render skipped locations. For example, if set to 500 then skipped locations will be rendered sequentially over the course of 500 milliseconds from when the location update is recieved." />
        </div>
      </div>
    </div>
  </body>
</html>
