<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Map demo</title>

  <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
  <script src="/main.js"></script>
  <script src='https://unpkg.com/@turf/turf@5.1.6/turf.min.js'></script>
  <script src="/Google/script.js" type="module"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <body>
    <header>
      <h1>
        <a href="http://ably.com/" class="logo">Ably</a>
        <span class="title">Asset Tracking</span>
      </h1>
      <div id="channel">
        <label for="channelID" class="label">Tracking ID:</label>
        <input type="text" name="channelID" id="channelID" placeholder="Enter a Channel ID" class="input">
        <input type="button" value="Update" class="button" id="updateChannelButton">
        <h2 class="subscribers" id="subscriberCount"></h2>
      </div>
      <div class="controls">
        <h2 class="animation">Animation:</h2>
        <label class="switch">
          <input type="checkbox" id="animation" checked="true">
          <span class="switch-text off">Snap</span>
          <span class="switch-text on">Smooth</span>
        </label>
      </div>
    </header>
    <div id="map"></div>
  </body>
</html>