<!DOCTYPE html>
<html>
  <head>
    <title>Ably Map Demo</title>
    <link rel="stylesheet" href="style.css" type="text/css" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  </head>
  <body>
    <main>
        <h1 class="intro">Ably Mapbox NavSDK demo</h1>
        <p>The publishing driver SDK runs on Android and publishes the enhanced lat/long locations to an Ably channel, and these locations are shown on a map clipped to a road. View a demo using your preferred map provider with one of the links below.</p>
        <a href="google" class="link">View Google Maps demo &raquo;</a>
        <a href="mapbox" class="link">View Mapbox Maps demo &raquo;</a>
    </main>
  </body>
</html>