<!DOCTYPE html>
<html>

<head>
  <title>Ably Asset Tracking</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1><a href="http://ably.com/" class="logo">Ably</a> <span class="title">Asset Tracking</span></h1>
  </header>
  <main class="intro">
    <p>The publishing driver SDK runs on Android and publishes the enhanced lat/long locations to an Ably channel, and
      these locations are shown on a map clipped to a road. View a demo using your preferred map provider with one of
      the links below.</p>
    <p>If you have accessed this site without API keys specified in the URL query parameters, when you click either of
      the below links you will be prompted to enter an API key for the map provider you have chosen. Please see the
      official documentation for how to create an API key (<a href="https://developers.google.com/maps/documentation/javascript/get-api-key">Google Maps</a>, <a href="https://docs.mapbox.com/help/how-mapbox-works/access-tokens/">Mapbox</a>).
    </p>
    <a onclick="window.location='/google'+window.location.search;" class="link">View Google Maps demo &raquo;</a>
    <a onclick="window.location='/mapbox'+window.location.search;" class="link">View Mapbox Maps demo &raquo;</a>
  </main>
</body>
</html>