<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Map demo</title>
    
    <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
    <script src="main.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <script src='https://www.unpkg.com/turf@3.0.14/turf.min.js'></script>
    <script src="/MapBox/script.js" type="module"></script>

    <link rel="stylesheet" href="style.css" type="text/css" />    
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </script>
</head>
<body>
  <header>
    <h1>Position Tracking</h1>
    <div id="channel">
      <label for="channelID" class="label">Tracking ID:</label>
      <input type="text" name="channelID" id="channelID" placeholder="Channel ID" class="input">
      <input type="button" value="Update" class="button" id="updateChannelButton"> 
    </div>
    <h2 class="subscribers" id="subscriberCount"></h2>
    <div class="controls">
      <h2>Animation:</h2>
      <label class="switch">
        <span class="switch-text">Off</span>
        <input type="checkbox" id="animation" checked="true">
        <span class="slider"></span>
        <span class="switch-text">On</span>
      </label>
    </div>
  </header>
    <div id="map"></div>
  </body>
</html>
